
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Short+Stack&display=swap');

body {
    background: url("../image/tictactoe.jpeg") fixed;
    background-size: contain;
    font-family: 'Gochi Hand', cursive;
}

/* /////////////////////////////////board Game///////////////////////////// */
.game-board
{
	width: 400px;
	height: 400px;
	margin: 50px auto;
  border: 6px solid rgba(255, 253, 253, 0);
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr); 
    /* 3*3 display */
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.draw {
  animation: nudge .8s linear;
}

.game-board :hover {
  animation: nudge .8s linear;
}

@keyframes nudge {

0% {
  transform: rotate(-7deg);
}

33% {
  transform: rotate(7deg);
}

66% {
  transform: rotate(-7deg);
}
}


/* each tic tac toe box */
.box 
{
  
  border: transparent;
  background-color: rgba(223, 220, 215, 0.897);
  color: rgb(3, 3, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Gochi Hand', cursive;
  font-size: 6em;
  box-shadow: 0 0 10px rgb(255, 255, 145);

}


/* /////////////////////////////////tictactoe heading///////////////////////////// */
h1 {
  margin: 20px auto;
  font-size: 7em;
  text-align: center;
}
.glow {
  color: #fffdf0;
  animation: neon .08s ease-in-out infinite alternate;
}

/* //keyframe// */
/*-- Animation Keyframes --*/

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(228, 225, 202, 0.92),
    0 0 30px rgba(228, 225, 202, 0.34),
    0 0 12px rgba(242, 238, 30, 0.52),
    0 0 21px rgba(242,238,30,0.92),
    0 0 34px rgba(242,238,30,0.78),
    0 0 54px rgba(242,238,30,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202, 225, 228, 0.98),
    0 0 30px rgba(202,225,228,0.42),
    0 0 12px rgba(3, 33, 87, 0.58),
    0 0 22px rgba(3, 33, 87, 0.84),
    0 0 38px rgba(3, 33, 87, 0.88),
    0 0 60px rgba(3, 33, 87,1);
  }
}
/* /////////////////////////////////x and o colour///////////////////////////// */
.playerx {
  color: rgb(60, 190, 0);
}

.playero {
  color: rgb(212, 55, 55);
}
/* /////////////////////////////////container///////////////////////////// */
.container {
  position: relative;
}

/* /////////////////////////////////message///////////////////////////// */
.message {
  font-size: 2em;
    font-family: 'Short Stack', cursive;
    text-align: center;
    background-color: #fffdf0;
    color: rgb(12, 5, 82);
    width: 450px;
    margin: 0 auto;
}

.buttonn {
  margin: 0 auto;
  text-align: center;
}
  

/* /////////////////////////////////restart button///////////////////////////// */
.restartGame {
  text-decoration: none; 
  text-align: center;
  background-color: rgba(228, 225, 202, 0);
  color: rgb(233, 231, 225);
  border-color: transparent;
  display: inline-block;
  font-family: 'Gochi Hand', cursive;
  font-size: 2em;
  animation: neon .08s ease-in-out infinite alternate;
  cursor: pointer;
}

/* /////////////////////////////////winning border///////////////////////////// */

.gradient-border {
  --borderWidth: 3px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  color: whitesmoke;
  position: relative;
  border-radius: var(--borderWidth);
  animation: animatedgradient 3s ease alternate infinite;
  
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h3 {
  display: inline;
  font-size: 2em;
  
  padding: 5px;
  margin-right: 30px;
  --borderWidth: 3px;
  box-shadow:
  0 0 6px yellowgreen;
  position: relative;
  border-radius: var(--borderWidth);
}


.scoreBoard {
  color: rgb(255, 255, 255);
  text-align: center;

}


